/* Set the character set to UTF-8 */
@charset "UTF-8";

/* Import the 'Inter' font from the specified URL */
@import url('https://rsms.me/inter/inter.css');

/* Set the font family for the entire HTML document */
html {
    font-family: 'Inter', sans-serif;
}

/* Use the variable font 'Inter var' if supported by the browser */
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

/* Set styles for the <body> element */
body {
    margin: 0;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2d2d2d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.25;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set styles for all <section> elements */
section {
    width: 100%;
}

/* Set 'box-sizing' property to 'border-box' for all elements */
* {
    box-sizing: border-box;
}

/* Set styles for links */
a {
    color: rgba(139, 43, 44, 1);
    font-weight: 600;
}

/* Set styles for links on hover */
a:hover {
    background-color: rgba(0, 0, 0, .09);
}

/* Set styles for <iframe> elements */
iframe {
    margin-bottom: 24px;
    border: 0;
    display: block;
    margin: 0 0;
    max-width: 100%;
    /*height: 100vh;*/
}

/* Set styles for an element with class 'center' */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Set styles for an element with class 'pattern-background' */
.pattern-background {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Arial";
    line-height: 1.42857143;
    color: #333;
    font-size: 14px;
    box-sizing: border-box;
    background: transparent url(https://cdns.directv.com/content/dam/dtv/NFLST_OTT/2017/images/repeat-pattern.png) repeat 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .7;
}

/* Set styles for an element with class 'full-background' */
.full-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* Set styles for an element with class 'background-image' */
.background-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    position: fixed;
    background: url(images/PAROADS.svg) no-repeat 50% 0;
    background-size: cover;
    background-image: url(images/PAROADS.svg);
}

/* Set styles for an element with id 'chart' */
#chart {
    background-color: ""; /* Background color not specified */
    stroke-width: 1; /* Set the stroke width for paths */
}

/* Set styles for elements with class 'stroke' */
.stroke {
    stroke: white;
    stroke-width: 0.1;
}

/* Set styles for an element with class 'boundary' */
.boundary {
    fill: none;
    stroke: #222426;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

/* Set 'box-sizing' property to 'border-box' for all elements */
* {
    box-sizing: border-box;
}

/* Set styles for elements with class 'second_title' */
.second_title {
    text-align: left;
    box-sizing: border-box;
    color: #2d2a26;
    line-height: 3vw;
    font-weight: 400;
    font-size: 4vw;
    font-family: avenir-lt-w01_85-heavy1475544, sans-serif;
    opacity: 0.85;
    letter-spacing: -.1vw;
    padding: 12px;
}

/* Set styles for elements with class 'items' */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    /*padding: 16px;*/
}

/* Set styles for elements with class 'cards' */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Set styles for elements with class 'card-wide' */
.card-wide {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    /* this adds the "card" effect */
    text-align: center;
    /*        width: 550px;*/
    flex: 0 1 100%;
}

/* Set styles for images inside elements with class 'card-wide' */
.card-wide img {
    width: 100%
}

/* Set styles for elements with class 'card' */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    margin: 1%;
    text-align: center;
    background-color: #f1f1f1;
    width: 260px;
}

/* Set styles for elements with class 'card-img' */
.card-img {
    margin: 1%;
    text-align: center;
}

/* Set styles for images inside elements with class 'card-img' */
.card-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    max-width: 90%;
    background-color: ;
    border: 10px solid #63676b;
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/* Set styles for elements with class 'sub' inside elements with class 'card' */
.card .sub {
    color: #6a6a6a;
    font-style: italic;
    line-height: 0.9;
    font-weight: 400;
    font-size: 1.0rem;
    margin-bottom: 15px;
}

/* Set styles for elements}

.center {
    text-align: center;
    margin: 0 auto;
}

.jc-side_by_side {
    display: flex;
    justify-content: space-between;
}

.jc-nav {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    min-height: 25px;
    max-height: 30px;
    overflow: hidden;
    color: #FFF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    background-color: #000;
    font-size: .75rem;
    letter-spacing: -.01em;
    line-height: 1.25rem;
    vertical-align: baseline;
    text-transform: uppercase;
    z-index: 9999;
}

.jc-nav svg {
    max-height: 25px;
    vertical-align: baseline;
}

.jc-nav li {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    text-decoration: none;
}

.jc-nav li {
    background-color: #000000;
}

.jc-nav li a {
    display: block;
    line-height: 45px;
    font-size: 11px;
    border-bottom: 0px solid transparent;
    text-transform: uppercase;
    position: relative;
    padding: 0 10px;
    color: #fff;
    opacity: .45;
    font-weight: bold;

    -moz-transition-property: opacity;
    -moz-transition-duration: 0.20s;
    -moz-transition-timing-function: linear;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.20s;
    -webkit-transition-timing-function: linear;

    -o-transition-property: opacity;
    -o-transition-duration: 0.20s;
    -o-transition-timing-function: linear;
}

.jc-nav li a:hover {
    text-decoration: none;
    opacity: 1;
}

.jc-nav li ul {
    list-style: none;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 190px;
    padding: 10px 0;
    z-index: 300;
    top: 45px;
    right: 0;
    background: #111;
    background: rgba(0, 0, 0, .5);
}

.jc-nav>li>ul:before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 20px;
    z-index: 1000;
    display: block;
    border-width: 10px;
    border-style: solid;
    top: -20px;
    border-color: transparent transparent #111;
    border-color: transparent transparent rgba(0, 0, 0, .5);
}

.jc-nav li ul li {
    position: relative;
    z-index: 2;
    display: block;
    text-align: left;
}

.jc-nav li ul li a {
    line-height: 1.5em;
    text-transform: none;
    display: block;
    padding: 8px 20px;
    width: 150px;
}

.jc-nav li ul li ul {
    position: absolute;
    top: -10px;
    right: 190px;
    border-width: 1px;
}

.jc-nav li:hover ul ul,
.jc-nav li:hover ul ul ul,
.jc-nav li:hover ul ul ul ul {
    visibility: hidden;
    opacity: 0;
}

.jc-nav li:hover ul,
.jc-nav li li:hover ul,
.jc-nav li li li:hover ul,
.jc-nav li li li li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.15s;
    -moz-transition-timing-function: linear;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;

    -o-transition-property: opacity;
    -o-transition-duration: 0.15s;
    -o-transition-timing-function: linear;
}

.jc-nav>li>a:hover,
.jc-nav li.current-menu-parent>a,
.jc-nav li.current-menu-item>a,
.jc-nav li.current-menu-ancestor>a {
    color: #fff;
    border-bottom-color: #fff;
    opacity: 1;
    background: none;
}
