
images/web_maps.ai
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
2023/SPP/Statistical-Fallacies/readme.Rmd
2021/Zipcodes/data/pa_2019.shp.zip
2020/PG/Tools for Identifying a Partisan Gerrymander/PA_LWV/R/.Rapp.history
2020/PG/Tools for Identifying a Partisan Gerrymander/PA_LWV/Tools for Identifying a Partisan Gerrymander Replication Files.zip
2023/SpotlightPA/Untitled.m4v
2023/SPP/images/fig-5-1.tiff
2023/SPP/images/fig-5-1.tiff
cv.docx
images/_web_maps.ai
