@charset "UTF-8";
		body {
			margin: 0;
			font-family: Helvetica, Arial, _sans;
			height: 100%;
			/* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
		}

		.background {
			fill: none;
			pointer-events: all;
		}

		.svg-container {
			display: inline-block;
			position: relative;
			width: 100%;
/*			padding-bottom: 600px;*/
			vertical-align: top;
			align-content: center;
			overflow: hidden;
			/*	background-image: linear-gradient(72deg, #595959, #262626);*/
		}

		.svg-content-responsive {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}

		.load {
			position: relative;
			display: none;
		}
/* .g-tooltip {
	font-size: 12px;
	border: solid 1px #ccc;
	background: rgba(255, 255, 255, .85);
	padding: 2px 8px;
	position: absolute;
	z-index: 1000;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	display: none;
	pointer-events: none;
	width: 190px;
	margin-left: -105px
} */
.g-tooltip {
    position: absolute;
    z-index: 100;
    width: 190px;
    border-radius: 4px;
    border: 1px solid #EEE;
    font-size: 12px;
    padding: 10px;
    background: rgba(255,255,255, .9);
    -moz-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .25);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .25);
    pointer-events: none;
}
/* CSS Document */
.vtd .path {
     fill: none;
     /*  fill-opacity: 1;*/
     stroke: #000;
     stroke-opacity: 0;
     stroke-width: 0;
     cursor: pointer;
}

.vtd:hover {
     stroke: #000;
     stroke-opacity: 1;
     stroke-width: 0.45;
}

.plan_mesh {
     stroke: #252525;
     stroke-width: 1.5px;
     stroke-opacity: 1;
     /*	stroke-dasharray: 1;*/
     stroke-linecap: round;
     stroke-linejoin: round;
     fill: none;
     fill-opacity: 0.5;
}

.outline {
     fill: none;
     stroke: #000;
     stroke-width: 4.0px;
     stroke-opacity: 1;
     /*	stroke-dasharray: 1;*/
     stroke-linecap: round;
     stroke-linejoin: round;
}

.water {
     fill: #3C4E73;
     stroke: none;
}

.states {
     fill: #e5e5e5;
     stroke: #fff;
     stroke-width: 1px;
}

.cities {
     fill: #000;
     opacity: 1;
     stroke: #fff;
}

.district {
     fill: none;
     stroke: #fff;
     stroke-width: 2.05px;
     stroke-opacity: 1;
     /*	stroke-dasharray: 1;*/
     stroke-linecap: round;
     stroke-linejoin: round;
}

.dotted {
     fill: none;
     stroke: #000;
     stroke-width: 1.55px;
     stroke-opacity: 1;
     /*	stroke-dasharray: 1,2,1;*/
}

divALT.tooltip {
     position: absolute;
     text-align: left;
     width: 130px;
     /*  height: 50px;		*/
     padding: 1px;
     padding-left: 2px;
     font: 12px sans-serif;
     /*  background: #7D7D7D;	*/
     border: 1px;
     border-color: rgba(0, 0, 0, 0.12);
     border-radius: 6px;
     opacity: .7;
     line-height: 1;
     display: none;
     background: white;
     box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
}

div.tooltip {
     font-family: nyt-franklin, arial, helvetica, sans-serif;
     font-size: 12px;
     border: solid 1px #ccc;
     background: rgba(255, 255, 255, .85);
     padding: 2px 8px;
     position: absolute;
     z-index: 1000;
     box-shadow: 0 0 8px rgba(0, 0, 0, .2);
     display: none;
     pointer-events: none;
     width: 190px;
     margin-left: -105px;
     transition: opacity 0.2s ease-out 0.4s;
}

.info {
     width: 100%;
     background: #fff;
     text-decoration-color: #000;
     padding: 10px;
}

.districtnames {
     font-family: "Franklin Gothic Book", Arial;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 4px;
     font-size: 16px;
     fill: #967b35;
}

.land {
     fill: #eee;
}

.border--counties {
     fill: none;
     stroke: #000;
     stroke-width: .2;
     stroke-dasharray: 1 2 1;
}

.land--counties {
     fill-opacity: .2;
     stroke-linejoin: round;
     stroke-linecap: round;
}
var politicalStyles = {
     'background-color-top': '#FAFAFA',
     'background-color-bottom': '#DDD',
     'link-stroke': function (d, i) {
          return (d.data.PTY == "REP") ? repColor : (d.data.PTY == "DEM") ? demColor : otherColor
     },
     'link-fill': function (d, i) {
          return (d.data.PTY == "REP") ? repColor : (d.data.PTY == "DEM") ? demColor : otherColor
     },
     'link-fill-opacity': .2,
     'node-stroke': function (d, i) {
          return (d.nodeGroup == "REP") ? repColor : (d.nodeGroup  == "DEM") ? demColor : otherColor
     },
     'node-stroke-opacity': 0.1,
     'node-stroke-over': '#FFF',
     'node-fill': function (d, i) {
          return (d.nodeGroup == "REP") ? repColor : (d.nodeGroup  == "DEM") ? demColor : otherColor
     },
     'node-fill-opacity': 0.5,
     'arc-fill': function (d, i) {
          return (d.data.PTY == "REP") ? repColor : (d.data.PTY == "DEM") ? demColor : otherColor
     },
     'arc-fill-over': '#000'
}
