---
layout: default
---

<main id="main-content" class="subpage">

  <!-- Random hero image -->
  {% assign images = "photo1.jpg,photo2.jpg,photo3.jpg,photo4.jpg" | split: "," %}
  {% assign random_index = site.time | date: "%s" | modulo: images.size %}
  <div class="Hero__wrapper">
    <img src="{{ '/assets/photos/' | append: images[random_index] | relative_url }}" alt="" />
  </div>

  <!-- Breadcrumb -->
  <nav class="Breadcrumbs">
    <a href="{{ '/' | relative_url }}">Home</a>
    {% if page.parent %}
      &nbsp;›&nbsp; <a href="{{ page.parent.url | relative_url }}">{{ page.parent.title }}</a>
    {% endif %}
    &nbsp;›&nbsp; {{ page.title }}
  </nav>


  <div class="paragraph paragraph--type--latest-news paragraph--view-mode--default Section">
    <div class="Section__main flush">
<div class="Common flush">
<div class="Section__main flush">
  <!-- Page content -->
  {{ content }}
</div>
</div>
</div>
</div>
</main>
