* {
margin: 0px;
padding: 0px;
font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 75px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: rgb(94, 94, 94);
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  color: rgb(5, 5, 5);
}

.nav-link.selected {
  color: rgb(179, 179, 179);
}

.nav-link.selected:hover {
  color: rgb(179, 179, 179);
  cursor: default;
}

.jc-input-notice {
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 9px;
  color: #AA66D3;
}
#jc-input {
  margin-top: 30px;
  /* height: 60px; */
    font-family: sans-serif;
    margin: 1.5em auto;
    /*max-width: 700px;*/
    padding: 0 10px;
    line-height: 1.0em;
    font-size: 1.0em;
    font-weight: 300;
    text-align: center;
}
.jc-hidden {
  display: none;
}
.jc-graphic {
  font-family: san-serif;
  font-size: 1.0em;
  font-weight: 300;
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}
table {
    padding: 15px 20px 0;
    margin: 10px auto 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, .04);
    color: #000000;
    text-align: center;
    width: 50%;
    border: 0;
}
.jc-instructions-panel p {
    font-family: sans-serif;
    margin: 1.5em auto;
    max-width: 700px;
    padding: 0 10px;
    line-height: 1.7em;
    font-size: 1.1em;
    font-weight: 300
}
.jc-overall-instructions {
  margin-bottom: 25px;
}
.jc-top-section p {
  font-size: 1.0em;
  line-height: 1.4em;
}

button,
input {
  padding: 5px 8px;
  margin-right: 3px;
  font-family: sans-serif;
  font-size: 1.0em;
  border: none;
  border-radius: 3px;
  border: 1px solid #777;
}
button.jc-submit {
  cursor: pointer;
  background: #16212B;
  border-color: #16212B;
  color: #fff;
}
button.jc-submit:disabled,
button.jc-submit.jc-disabled {
  background: #999;
  border-color: #999;
}
.jc-disabled {
  pointer-events: none;
  opacity: 0.5;
}
button:disabled {
  opacity: .5;
  pointer-events: none;
}
input {
  color: #666;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}
.jc-input-notice {
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 9px;
  color: #AA66D3;
}
.jc-select-container {
  font-family: nyt-franklin;
  font-weight: 300;
  position: absolute;
  left: 100%;
  display: none;
}
#jc-note {
  font-weight: 300;
  font-size: 0.9em;
  color: #999;
  line-height: 1.3em;
}
blockquote p {
  color: #777;
}
blockquote {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.jc-header {
    max-width: 750px;
    margin: 0 auto 10px;
    display: block
}
.dataviz {
  margin: 1.5em auto;
  max-width: 700px;
  padding: 0 10px;
  line-height: 1.7em;
  font-size: 1.1em;
  font-weight: 300
}
h1.jc-title {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 10px;
  font-family: sans-serif;
  line-height: 1.2em;
}
h2.jc-title {
  margin: 1.5em auto;
  max-width: 700px;
  padding: 0 20px 10px;
  font-family: sans-serif;
  line-height: 1.2em;
  padding: 0 10px;
  line-height: 1.7em;
  font-size: 1.1em;
  font-weight: 300
}
.jc-instructions-panel li .jc-highlight,
.jc-instructions-panel p .jc-highlight {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fefefe), color-stop(50%, rgba(0, 0, 0, .09)));
    background-image: linear-gradient(90deg, #fefefe 50%, rgba(0, 0, 0, .09) 0);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all .8s;
    transition: all .8s;
    font-weight: 800;
}
.jc-instructions-panel li .jc-highlight.highlighted,
.jc-instructions-panel p .jc-highlight.highlighted {
    background-position: -100%;

}

.modal {
  display: none; /* Hidden by default */
}
